/* start navbar css */
.login {
    background-color: #B3B49E;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login:hover {
    background-color: #D3374A;
}

.navbar {
    background-color: #EDEBDA;
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem;
}

.navbar-toggler {
    border: none;
    font-size: 1.25em;
}

.navbar-toggler:focus,.btn-close:focus {
    box-shadow: none;
    outline: none;
}
.offcanvas-body, .offcanvas-header {
    background-color: #EDEBDA;
}

.offcanvas-header {
    border-bottom: 1px solid black;
}

.nav-link {
    color: #333;
    font-weight: bold;
    font-size: 18px;
    position: relative;
}

.nav-link:hover {
    color: #D3374A;
}

@media (min-width: 768px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #D3374A;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover:before {
        width: 100%;
        visibility: visible;
    }
}
/* end navbar css */