<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board</title>
  <link rel="stylesheet" href="/static/css/board.css">
</head>
<body>
<main>
  <section class="post-list">

    <div class="menu">
      <a class="title" href="/board">자유게시판</a>
      <a class="title" href="/club">클럽홍보</a>
      <a class="title" href="/notices">공지사항</a>
    </div>

    <article class="post">
      <h2>게시글 제목 1</h2>
      <p>게시글 내용 1</p>
      <p class="date">작성일</p>
    </article>

    <article class="post">
      <h2>게시글 제목 2</h2>
      <p>게시글 내용 2</p>
      <p class="date">작성일</p>
    </article>

    <article class="post">
      <h2>게시글 제목 3</h2>
      <p>게시글 내용 3</p>
      <p class="date">작성일</p>
    </article>

    <article class="post">
      <h2>게시글 제목 4</h2>
      <p>게시글 내용 4</p>
      <p class="date">작성일</p>
    </article>

    <div class="write">
      <a class="button">
        글쓰기
      </a>
    </div>

  </section>
</main>
</body>
</html>
