<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">-->
</head>
<body>
<main>
    <section class="login-signup">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="mt-3 mb-5 card-front">
                                    <div class="mt-3 center-wrap">
                                        <div class="pt-3 pb-4 px-3 section text-center" style="background-color: #B3B49E">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                            <div class="form-group">
                                                <input type="id" name="logid" class="form-style" placeholder="Your ID" id="logemail" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="logpasswd" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <a href="#" class="btn mt-4 mb-3">Login</a>

                                            <!-- OAuth 로그인 버튼 -->
                                            <a class="btn btn-lg my-1 px-0"
                                               th:href="@{https://kauth.kakao.com/oauth/authorize(response_type=${'code'},
                    client_id=${@environment.getProperty('app.oauth2.kakao.client-id')},
                    redirect_uri=${@environment.getProperty('app.oauth2.kakao.redirect-uri')})}">
                                                <img src="/static/img/kakao_login_button.png" width="260" height="45">
                                            </a>

                                            <a class="btn btn-lg my-1 px-0" th:href="@{/oauth2/authorization/google}">
                                                <img src="/static/img/google_login_button.png" width="260" height="45">
                                            </a>
                                            <a class="btn btn-lg my-1 px-0" th:href="@{/oauth2/authorization/naver}">
                                                <img src="/static/img/naver_login_button.png" width="260" height="45">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="pt-3 pb-4 px-3 section text-center" style="background-color: #B3B49E">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>
                                            <div class="form-group">
                                                <input type="text" name="signup-id" class="form-style" placeholder="ID" id="logname" autocomplete="off">
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="email" name="signup-pw" class="form-style" placeholder="PW" id="logemail" autocomplete="off">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="signup-name" class="form-style" placeholder="이름" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="signup-number" class="form-style" placeholder="전화번호" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="signup-birth" class="form-style" placeholder="생일" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>

                                            <div class="form-group mt-2">
                                                <input type="password" name="signup-gender" class="form-style" placeholder="성별" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="signup-email" class="form-style" placeholder="이메일" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>

                                            <div class="form-group mt-2">
                                                <input type="password" name="signup-address" class="form-style" placeholder="주소" id="logpass" autocomplete="off">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>

                                            <a href="#" class="btn mt-4">Sign up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
